#api
DATABASE_URL =
PORT =

#webapp
API_URL =

#for docker compose deploy || para hacer deploy con docker compose
MYSQL_ROOT_PASSWORD = 
MYSQL_DATABASE = 
MYSQL_USER = 
MYSQL_PASSWORD = 
MYSQL_INTERNAL_PORT = 
MYSQL_EXTERNAL_PORT = 

